<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre - FinanceCar</title>
    <link rel="stylesheet" href="/financecar.css">
</head>
<body>
    <div id="root">
    <div class="sobre">

        <%- include('partials/header') %>

        <section class="hero">
            <div class="hero-sobre">

                <h1>Equipe FinanceCar!</h1>

                <div class="equipe">

                    <div class="card-sobre">
                        <img
                            src="/assets/financecar/equipe1.jpeg"
                            alt="Eduarda"
                        />

                        <h2>Eduarda Luiza Pinheiro Nepomuceno</h2>
                    </div>

                    <div class="card-sobre">
                        <img
                            src="/assets/financecar/equipe2.JPEG"
                            alt="Priscila"
                        />

                        <h2>Priscila Amorim dos Santos</h2>
                    </div>

                    <div class="card-sobre">
                        <img
                            src="/assets/financecar/equipe3.jpeg"
                            alt="Thiago"
                        />

                        <h2>Thiago Volponi Cosmo</h2>
                    </div>

                </div>
            </div>
        </section>

        <%- include('partials/logout-popup') %>

    </div>
    </div>
</body>
</html>