<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sobre | DASN</title>
    <link rel="stylesheet" href="/dasn.css">
</head>
<body>
    <div class="top-bar">
        <a href="/DASN/calculo" class="link">← Voltar</a>
        <span class="breadcrumb">/ <span>sobre</span></span>
    </div>

    <main>
        <div class="big-number">08</div>
        <div class="content">
            <h1><em>Equipe</em> 08</h1>
            
            <div class="box">
                <div style="text-align: center; margin-bottom: 30px;">
                    <img src="/img/team8_dasn.jpeg" alt="Equipe" style="width: 100%; border: 1px solid var(--border);">
                </div>
                <div class="list-item">Gustavo Kurten</div>
                <div class="list-item">João Celso</div>
                <div class="list-item">Felipe Granziol</div>
            </div>
        </div>
    </main>
</body>
</html> 