<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3;url=/DASN/login">
    <title>DASN-SIMEI</title>
    <link rel="stylesheet" href="/dasn.css">
</head>
<body>
    <main>
        <div class="big-number">08</div>
        <div class="content">
            <div class="tag">Inicializando</div>
            <h1><em>DASN</em>-SIMEI</h1>
        </div>
    </main>
</body>
</html>