<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sobre Nós</title>

    <link rel="stylesheet" href="/piscina.css">
</head>

<body>

    <nav>
        <a href="/piscina/calculo">Cálculo</a>
        <a href="/piscina/sobre">Sobre</a>
        <a href="/piscina/help">Help</a>
        <a href="/piscina/logout">Logout</a>
    </nav>

    <div class="sobre-container">

        <h1>Sobre Nós</h1>
        <img src="/img/Time_10_Piscina.jpg" alt="Integrantes do grupo" class="foto-grupo">

        <p>
            Somos estudantes do 5º período do curso de Engenharia de Software
            e desenvolvemos este projeto acadêmico com o objetivo de aplicar
            nossos conhecimentos em programação, desenvolvimento web e integração
            entre front-end e back-end.
        </p>

        <br>

        <div class="nomes">
            <h2>Integrantes do Grupo</h2>

            <p>
                Anna Clara Olbi - 24015392<br>
                Larissa Furlan - 24021876<br>
                Maria Gabriella - 24002540
            </p>
        </div>

    </div>

</body>
</html>