<!DOCTYPE html>
<html lang="pt-br">
<head>

  <meta charset="UTF-8">

  <title>Splash</title>

  <link rel="stylesheet" href="/piscina.css">

</head>

<body class="center">

  <div class="card">

    <h1>Sistema de Cálculos</h1>

    <p>Carregando...</p>

  </div>

  <script>

    setTimeout(() => {

      window.location.href = '/piscina/login';

    }, 2000);

  </script>

</body>
</html>