<header class="menu">
    <div class="logo">
        <img src="/assets/financecar/logo.svg" alt="Logo" class="logo" />
    </div>
    <nav>
        <ul>
            <li><a href="/financecar/home">Home</a></li>
            <li><a href="/financecar/juros">Juros Compostos de Investimento</a></li>
            <li><a href="/financecar/financiamento">Financiamento de Veículo</a></li>
            <li><a href="/financecar/fundo">Fundo de Emergência</a></li>
            <li><a href="/financecar/regra">Regra 50/30/20</a></li>
            <li><a href="/financecar/sobre">Sobre</a></li>
            <li>
                <button class="logout" onclick="document.getElementById('logoutPopup').style.display = 'flex'">
                    <img src="/assets/financecar/exit.svg" alt="Sair" class="sair normal" />
                    <img src="/assets/financecar/exit_yellow.svg" alt="Sair" class="sair hover" />
                </button>
            </li>
        </ul>
    </nav>
</header>
